<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: aliceblue;">Policy Management</h1>
      <div class="d-flex">
        <button (click)="clickAddEmploye()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" >Add Employee</button>
      </div>
    </div>
  </nav>
  
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Policy Number</th>
        <th scope="col">Policy Amount</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let row of employeeData">
        <td>{{row.id}}</td>
        <td>{{row.Policy_Number}}</td>
        <td>{{row.Policy_Amount}}</td>
  
        <td>
          <button (click)="onEdit(row)" style="color: aliceblue;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Update</button>
          <button (click)="DeleteEmployee(row)" style="color: aliceblue;" type="button" class="btn btn-danger mx-3">Delete</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Insurance Policy Management</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Policy Number</label>
              <input type="text" formControlName="Policy_Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Policy Amount</label>
              <input type="text" formControlName="Policy_Amount" class="form-control" id="exampleInputPassword1">
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">ADD</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>